<div *ngIf="(documentInfo$ | async) as documentInfo">
  <div class="sidenav">
    <app-document-sidenav [documentNode]="documentInfo.consolidated.documentNode" *ngIf="documentInfo.consolidated"></app-document-sidenav>
  </div>
  <div class="document-contents">
    <div class="paragraphs">
      <app-document-paragraph [documentNode]="documentInfo.consolidated.documentNode" *ngIf="documentInfo.consolidated"></app-document-paragraph>
    </div>
  </div>
</div>
<app-loading *ngIf="!(documentInfo$ | async)"></app-loading>
